.tabs {
    display: flex;
    gap: .25rem;
    transform: translateY(2px);
}

.tabs button {
    padding: .5rem 1rem;
    border: var(--gray) 2px solid;
    border-bottom: none;
    background: var(--dark-gray);
    border-radius: .5rem .5rem 0 0;
    color: var(--white);
    margin-bottom: 2px;
}

.tabs button.dataSelected {
    background-color: var(--dark-gray2);
}

.content {
    border: var(--gray) 2px solid;
    background: var(--dark-gray);
    border-radius: 0 0 .5rem .5rem;
    border-top: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
}

.content input {
    margin-left: 25px;
}

.content form button {
    width: fit-content;
}

.departments {
    display: flex;
    gap: .5rem;
}

.departments > div {
    font-size: .75rem;
    padding: .5rem .75rem;
    background: var(--dark-gray2);
    border-radius: .5rem;
    color: var(--white);
}

.departments > div::after {
    content: '×';
    margin-left: .5rem;
    font-weight: bold;
    cursor: pointer;
}

.label {
    margin-top: .5rem;
    color: var(--white);
    font-weight: 800;
}