@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: #5865F2;
    --warning: #FEE75C;
    --success: #57F287;
    --error: #ED4245;
    --black: #111111;
    --gray: #23272A;
    --light-gray: #76767c;
    --light-gray2: #b9bbbe;
    --dark-gray: #2C2F33;
    --dark-gray2: #36393F;
    --white: #FFFFFF;
}

body {
    @apply bg-neutral-950 text-white;
    color-scheme: dark;
}

*::-webkit-scrollbar {
    @apply w-2.5;
}

*::-webkit-scrollbar-track {
    @apply bg-neutral-950;
}

*::-webkit-scrollbar-thumb {
    @apply bg-neutral-900 rounded-full hover:bg-zinc-900;
}