.headerButton {
    text-decoration: none;
    color: var(--white);
    margin: 5px;
    font-weight: bold;
}

.headerButton:hover {
    color: var(--light-gray);
    transition: color 0.2s ease-in-out;
}

@media (max-width: 530px) {
    .headerButtonTitle {
        display: none;
    }
}