.linkButton {
    text-decoration: none;
    color: var(--white);
    margin: 5px;
    font-weight: bold;
    background-color: var(--gray);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.linkButton:hover {
    color: var(--light-gray);
    transition: color 0.2s ease-in-out;
}